.opacity{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(235, 161, 118);
    opacity: 0.5;
}

.class_sub{
    position: absolute;
    top: 18%;
    bottom: 18%;
    left: 25%;
    right: 25%;
    border: solid 5px rgb(44, 198, 198);
    border-radius: 10px;
    padding: 5px 10px;
    background-image: linear-gradient(to bottom right, rgb(52, 50, 50), rgb(41, 40, 40));
    opacity: 0.8;
    z-index : 100;
    overflow: auto;
    min-width: 300px;
}

.class_select_header{
    background-color: rgb(90, 90, 179);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.class_select_header input{
    min-width: 20px;
    margin: 0px 5px;
    border-radius: 10px;
    border: none;
    height: 25px;
    outline: none;
    transition: scale 0.3s, box-shadow 0.3s;
}

.class_select_header input::placeholder{
    color: rgb(99, 183, 198);
    font-size: 13px;
}

.class_select_header input:focus{
    scale: 1.1;
    box-shadow: 3px 3px 10px rgb(121, 121, 225);
}


.classes div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(88, 125, 228);
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    border-radius: 3px;
    margin: 10px 0px;
    padding: 0px 10px;
    min-height: 40px;
}

.classes div button, .class_select_header button{
    color: white;
    border:none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, scale 0.5s;
}

.classes div button{
    background-color: rgb(62, 62, 127);
}
.class_select_header button{
    background-color: rgb(42, 42, 228);
}.classes div button:hover, .class_select_header button:hover{
    scale: 1.1;
    background-color: rgb(49, 161, 49);
    color: rgb(0, 75, 0);
}



.close_class_button{
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 100%;
    max-width: 200px;
    min-width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: darkorange;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Righteous', cursive;
    transition: scale 0.5s, background-color 1s;
    cursor: pointer;
}

.close_class_button:hover{
    scale: 1.1;
    background-color:rgb(229, 99, 13)
}
