.class_main{
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    display: flex;
    z-index: 100;
    /* background-color: black; */
}

.opacity{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(235, 161, 118);
    opacity: 0.5;
    z-index: 50;
}

.class_sub{
    position: absolute;
    top: 18%;
    bottom: 18%;
    left: 25%;
    right: 25%;
    border: solid 5px rgb(249, 101, 9);
    border-radius: 10px;
    padding: 10px 10px;
    background-image: linear-gradient(to bottom right, rgb(52, 50, 50), rgb(41, 40, 40));
    opacity: 0.8;
    z-index : 100;
    overflow: auto;
    min-width: 300px;
}
.class_sub::-webkit-scrollbar{
    display: none;
}

.class_select_header{
    background-color: rgb(231, 95, 12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    user-select: none;
}

.class_select_header input{
    min-width: 20px;
    margin: 0px 5px;
    border-radius: 10px;
    border: none;
    height: 25px;
    outline: none;
    transition: all 0.3s;
}

.class_select_header input::placeholder{
    color: rgb(99, 183, 198);
    font-size: 13px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.class_select_header input:focus{
    scale: 1.1;
    box-shadow: 3px 3px 10px rgb(182, 179, 174);
}

.classes{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.classes div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(218, 130, 21);
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin: 8px 0px;
    padding: 0px 10px;
    min-height: 50px;
    transition: scale 0.5s, background-color 0.5s, box-shadow 0.5s, font-size 0.2s, font-weight 0.2s;
}
.classes div:hover{
    scale: 1.02;
    background-color:rgb(207, 120, 15);
    font-size: 22px;
    box-shadow: 3px 3px 8px rgb(240, 84, 0);
    font-weight: bold;
}

.classes div button, .class_select_header button{
    color: white;
    border:none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: 17px;
    font-family: 'Righteous', cursive;
    cursor: pointer;
    transition: all 0.5s;
}

.classes div button{
    background-color: rgb(200, 76, 34);

}
.class_select_header button{
    background-color: rgb(209, 202, 104);
}.classes div button:hover, .class_select_header button:hover{
    font-size: 20px;
    scale: 1.1;
    color: rgb(248, 248, 248);
}
.classes div button:hover{
    background-color: rgb(173, 42, 33);
}
.class_select_header button:hover{
    background-color: rgb(116, 173, 50);
}


