@keyframes container{
    100%{
        transform: rotate(360deg);
    }
}
.container1, .container2{
    position: fixed;
    right: -11%;
    bottom: -42%;
    align-items:center;
    width: 500px; 
    height: 500px;
    filter: brightness(0.8);
    z-index: -5;
    animation:container 75s linear infinite alternate;
}
.polygon1{
    fill:rgb(250, 115, 11);
}
.polygon2{
    fill:orangered;
}
.polygon3{
    fill:orange;
}
.circle{
    fill: rgb(185, 81, 36);
}